/* === GENERAL STYLES === */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

/* === TEXT STYLES DIFFERENT SCREEN === */
.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}
@media (max-width: 767px) {
  .wrapper {
    padding-top: 5rem;
  } 
  .quote {
     font-size: 1rem;
}
  .author {
    font-size: .75rem
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 5rem;
  }
  .quote {
    font-size: 1.5rem;
}
  .aurhor {
    font-size: 1rem;
  }  
}

@media (min-width: 1024px) {
  .wrapper {
    padding-top: 5.5rem;
  }
  .quote {
    font-size: 2rem;
  }
  .author {
    font-size: 1.5rem;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    padding-top: 8rem;
  }
  .quote {
    font-size: 6.5rem;
  }
  .author {
    font-size: 2.5rem;
  }
}

